// buttons
button {
    transition: 0.5s ease;
};

@mixin btn($bgcolor, $textcolor) {
    background: $bgcolor;
    color: $textcolor;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    transition: 0.5s background ease-in-out;
    margin: 20px auto;
    &:hover, &:focus {
        background: lighten($bgcolor, 10%);
        color: $textcolor;
    }
    &:visited {
        color: $textcolor;
    }
}

.btn__play, .btn__playAgain {
    @include btn($color-dark, #fff);
    margin-top: 40px;
}

.btn {
    &__answer {
        padding: 1.5rem 2rem;
        border: 5px solid transparent;
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        min-height: 75px;
        @include setFont(3rem, black, 400)
        &:enabled {
            &:hover, &:focus {
                background: rgba($color-ac2, 0.7);
                color: white;
            }
        }
    }   

    &--rightAns {
        border: 5px solid green;
        background: rgba(green, 0.5);
        color: white;
    }

    &--wrongAns {
        border: 5px solid red;
        background: rgba(red, 0.5);
        color: white;
    }

    &__next {
        @include btn($color-dark, white);
    }

    &__last {
        @include btn($color-light, $color-dark);
    }

    &__CTA {
        @include btn($color-ac1, #fff);
        margin-bottom: 0;
    }
};