// font-family: 'Merriweather', serif;
// font-family: 'Monoton', cursive;


// typography vars

$text-gray: #888890;
$text-font: 'Merriweather', serif;
$text-fancy: 'Pacifico', cursive;

// Normalize typography


html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, blockquote {
    margin: 0;
    padding: 0;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    // text-transform: capitalize;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style-type: none;
}


//-------- HEADINGS-------------

.heading-- {
    &question {
        font-size: 3rem;
        margin-top: 20px;
        line-height: 1.5;
        text-align: left;
    }

    &siteTitle {
    font-family: $text-fancy;
    font-size: 5rem;
    margin: 30px 0;

    &section {
       @extend .heading--question; 
    }

    &footer {
        font-size: 1.6rem;
        a {
            font-size: $color-ac1;
        }
    }
}
}
//-------- DISPLAY -------------

.display {
    &--bigLetter {
        font-family: $text-fancy;
        font-size: 30rem;
        position: absolute;
        top: 230px;
        left: 0;
        z-index: 10;
        color: rgba($text-gray, 0.5);
        line-height: 0;
    }
}

//--------TEXT-------
p {
    line-height: 1.4;
}
.text-- {
    &regular {
        font-size: 1.6rem;
        margin: 10px 0;
    }

    &questionDesc {
        font-size: 1.8rem;
        margin-top: 10px;
        padding: 20px 30px 20px 60px;
        background: $color-light;
        color: black;
        display: inline-block;
        border-radius: 30px;
        position: relative;

        img {
            width: 49px;
            position: absolute;
            left: -6px;
            top: -5px;
            transform: rotate(-15deg);
        }
    }

    &answerDesc {
        @extend .text--questionDesc;
        padding: 40px 80px;
        width: 100%;
        background: lighten($color-light, 15);
        text-align: left;
        @media (max-width: $break-small) {
            padding: 24px 32px;
        }

        a {
            color: $color-ac1;
        }
    }

    &results {
        @extend .heading--siteTitle;
        margin-top: 0;
        color: black;
    }
}

.icon--social i.fa {
    transition: all .2s ease-in-out;
    // font-size: 20px; 
    &:hover {
        color: $color-ac1;
        transform: scale(1.2);
    }
}

.link-- {
    &footer {
        color: $color-ac1;
        &:hover, &:focus {
            color: lighten($color-ac1, 2);
        }
        &:visited {
            color: $color-ac1;
        }
    }
}

