//theme accent colors
$light-gray: #f5efef;
$color-dark: #4F4E78;
$color-ac1: #678EB5;
$color-ac2: #7BCACE;
$color-light: #A7F2DB;


//breakpoints

$break-large: 1000px;
$break-med: 700px;
$break-small: 550px;