article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, p, a, ul, li, blockquote {
  margin: 0;
  padding: 0;
  line-height: 1; }

a:visited {
  color: black; }

a {
  text-decoration: none;
  display: inline-block; }

li {
  list-style-type: none; }

.heading--question {
  font-size: 3rem;
  margin-top: 20px;
  line-height: 1.5; }

.heading--siteTitle, .text--results {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  margin: 30px 0; }

.display--bigLetter {
  font-family: "Pacifico", cursive;
  font-size: 30rem;
  position: absolute;
  top: 300px;
  left: -40px;
  z-index: 10;
  color: rgba(136, 136, 144, 0.8);
  line-height: 0; }

p {
  line-height: 1.4; }

.text--regular {
  font-size: 1.6rem; }

.text--questionDesc, .text--answerDesc {
  font-size: 1.8rem;
  margin-top: 10px;
  padding: 20px 30px 20px 60px;
  background: #FFC252;
  color: black;
  display: inline-block;
  border-radius: 30px;
  position: relative; }
  .text--questionDesc img, .text--answerDesc img {
    width: 49px;
    position: absolute;
    left: 7px;
    top: -8px;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }

.text--answerDesc {
  margin-top: 30px;
  padding: 40px 80px;
  width: 100%;
  background: #ffdd9f; }
  @media (max-width: 550px) {
    .text--answerDesc {
      padding: 24px 32px; } }

.text--results {
  margin-top: 0;
  color: white; }

button {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }

.btn__play, .btn__playAgain {
  background: #003049;
  color: #fff;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  -webkit-transition: 0.5s background ease-in-out;
  -o-transition: 0.5s background ease-in-out;
  transition: 0.5s background ease-in-out;
  margin: 20px auto;
  margin-top: 40px; }
  .btn__play:hover, .btn__play:focus, .btn__playAgain:hover, .btn__playAgain:focus {
    background: #00527c;
    color: #fff; }
  .btn__play:visited, .btn__playAgain:visited {
    color: #fff; }

.btn__answer {
  padding: 1.5rem 2rem;
  border: 5px solid transparent;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  min-height: 75px;
  font-size: 3rem;
  color: black;
  font-weight: 400; }

.btn__answer:enabled:hover, .btn__answer:enabled:focus {
  background: rgba(123, 202, 206, 0.7);
  color: white; }

.btn--rightAns {
  border: 5px solid green;
  background: rgba(0, 128, 0, 0.5);
  color: white; }

.btn--wrongAns {
  border: 5px solid red;
  background: rgba(255, 0, 0, 0.5);
  color: white; }

.btn__next {
  background: #003049;
  color: white;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  -webkit-transition: 0.5s background ease-in-out;
  -o-transition: 0.5s background ease-in-out;
  transition: 0.5s background ease-in-out;
  margin: 20px auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .btn__next:hover, .btn__next:focus {
    background: #00527c;
    color: white; }
  .btn__next:visited {
    color: white; }

.btn__last {
  background: #FFC252;
  color: #003049;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  -webkit-transition: 0.5s background ease-in-out;
  -o-transition: 0.5s background ease-in-out;
  transition: 0.5s background ease-in-out;
  margin: 20px auto; }
  .btn__last:hover, .btn__last:focus {
    background: #ffd485;
    color: #003049; }
  .btn__last:visited {
    color: #003049; }

/*----------------------------------------
    all sections
----------------------------------------*/
html, body {
  height: 100%; }

body {
  font-family: "Merriweather", serif;
  position: relative; }

.bgParallax {
  background: url("../assets/mountain-bg.jpg") center;
  background-size: cover;
  width: 100vw;
  z-index: 10;
  position: fixed;
  height: 100%; }

section, header, footer {
  z-index: 20;
  position: relative; }

.wrapper {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7); }
  @media (max-width: 1000px) {
    .wrapper {
      width: 95%; } }

@media (max-width: 700px) {
  header.wrapper {
    width: 100%; } }

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

section {
  margin-bottom: 30px;
  padding: 40px 0;
  min-height: 100vh; }

.wrap--small {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 20; }
  @media (max-width: 700px) {
    .wrap--small {
      width: 95%; } }

img {
  width: 100%; }

.questionBlock {
  display: block;
  margin-top: 40px;
  padding: 80px 0 115px 0;
  position: relative;
  z-index: 30; }

.answerArea {
  margin-top: 50px; }

.answerDescArea {
  width: 90%;
  margin-left: 5%; }

.scoreArea {
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 100;
  min-height: 50px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  border-top: 1px #003049 solid; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: white;
  z-index: 10; }

.description {
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .description .wrapper {
    padding: 80px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-height: 25vh;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.resultsArea {
  min-height: 100vh; }
  .resultsArea .wrap--small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .resultsArea .wrapper {
    border-radius: 30px;
    background: rgba(123, 202, 206, 0.8);
    padding: 80px 0; }
  .resultsArea img {
    width: 50%;
    margin: 20px; }
