@import 'normalize';
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'components';



/*----------------------------------------
    all sections
----------------------------------------*/
body {
    font-family: $text-font;
    background: url('../assets/mountain-bg.jpg') center no-repeat;
    background-size: cover;
    // min-height: 100vh;
}

.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    background: rgba(white, 0.7);
    @media (max-width: $break-large) {
        width: 95%;
    } 
}

// header wrapper will be full width in mobile
header.wrapper {
    @media (max-width: $break-med) {
        width: 100%;
    } 
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    margin-bottom: 30px;
    padding: 40px 0;
    
}

.wrap--small {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
    
}

img {
    width: 100%;
}

//----- JS classes

// .hide {
//     display: none;
// }


//------------

.questionBlock {
    display: block;
    margin-top: 40px;
    padding: 80px 0;
    // height: 80vh;
    position: relative; 
    z-index: 30;

    .wrapper {
    }

    // &:first-of-type {
    //     margin-top: 0;
    // }
}

.answerArea {
    margin-top: 50px;
}

.answerDescArea {
    width: 90%;
    margin-left: 5%;

}
.scoreArea {
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 100;
    min-height: 50px;
    padding: 10px 20px;
}


//---------------------
// header
// --------------------

header {
    @include flexCenter(column);
    display: flex;
    flex-wrap: nowrap;
    background: white;
    z-index: 10;

}

.description {
    margin-bottom: 0;
    .wrapper {
        @include flexCenter(column);
        min-height: 25vh;
        justify-content: space-around;
    }
}